[Desktop Entry]
Name=SpeakEasy
GenericName=Voice Dictation & Launcher
Comment=Offline voice tools for Linux
Exec=AppRun
Icon=speakeasy
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Actions=Dictation;Launcher;Settings

[Desktop Action Dictation]
Name=Start Dictation
Exec=AppRun --dictation

[Desktop Action Launcher]
Name=Start Launcher
Exec=AppRun --launcher

[Desktop Action Settings]
Name=Open Settings
Exec=AppRun --settings
