[Desktop Entry]
Name=SpeakEasy
GenericName=Voice Dictation & Launcher
Comment=Offline voice tools for Linux
Exec=AppRun
Icon=speakeasy
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Keywords=voice;dictation;speech;launcher
